<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["About"]</title>

     

</head>

<body>
    <h1>Hello</h1>
    <h3>Semenova Amina Ramazanovna</h3>
    <h3>IP204</h3>
    <h4>Artemov is the best</h4>
</body>
</html>